<app-workout-editor-sheet
  [text]="workoutEditorText()"
  [title]="getWorkoutSheetTitle()"
  [selectedDateLabel]="selectedDateLabel()"
  [workingDate]="selectedDate()"
  [workoutTitle]="workoutTitle()"
  [defaultWorkoutTitle]="getDefaultWorkoutTitle()"
  [saveButtonLabel]="getWorkoutSaveButtonLabel()"
  [selectedExercises]="selectedWorkoutExercises()"
  [imageBaseUrl]="exerciseImageBaseUrl"
  [exerciseSearchQuery]="exerciseSearchQuery()"
  [exerciseSearchResults]="exerciseSearchResults()"
  [exerciseSearchTotal]="exerciseSearchTotal()"
  [isExerciseSearchLoading]="isExerciseSearchLoading()"
  [exerciseSearchError]="exerciseSearchError()"
  [targetMuscles]="targetMuscles()"
  [selectedTargetMuscle]="selectedTargetMuscle()"
  [step]="workoutEditorStep()"
  [isWeeklyPlan]="isWeeklyPlan()"
  (close)="close()"
  (stepChanged)="workoutEditorStep.set($event)"
  (targetMuscleChanged)="selectTargetMuscle($event)"
  (workoutTitleChanged)="workoutTitle.set($event)"
  (workingDateChanged)="selectDate($event)"
  (weeklyPlanChanged)="isWeeklyPlan.set($event)"
  (searchExercises)="searchExercises($event)"
  (removeSelectedExercise)="removeSelectedWorkoutExercise($event)"
  (selectedExerciseSetCountChanged)="updateSelectedWorkoutExerciseSetCount($event.exerciseId, $event.setCount)"
  (toggleExercise)="toggleWorkoutExercise($event)"
  (scrolled)="onExerciseListScroll($event)"
  (loadMore)="loadMoreExercises()"
  (save)="saveWorkoutFromSelectedExercises()"
/>
